@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
}
#contenedorprincipal {
	width: 100%;
	height: 1120px;
	background-color: #FFFFFF;
}
/*HEADER*/
#contenedorprincipal header {
	float: left;
	width: 100%;
	height: 90px;
	-webkit-box-shadow: 0px -3px 18px 2px;
	box-shadow: 0px -3px 18px 2px;
	background-color: #FFFFFF;
}
#contenedorprincipal #logo   {
	width: 55%;
	height: 90px;
	float: left;
	display: block;
}
#contenedorprincipal header #logo #imagenlogo {
	height: 90px;
	float: left;
	display: block;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../imagenes/logo.png);
	background-position: 15% 50%;
	margin-left: 9%;
	width: 220px;
}
#contenedorprincipal #logo #imagenlogo a {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contenedorprincipal header nav {
	width: 45%;
	float: left;
	height: 90px;
}
header nav ul li {
	list-style-type: none;
	display: block;
	width: 33.3333%;
	height: 90px;
	float: left;
}
header nav ul li a {
	list-style-type: none;
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	float: left;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 15pt;
	font-weight: 500;
	overflow: hidden;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	color: #224233;
}
ul li #nav1 {
}
ul li #nav2 {
}
ul li #nav3 {
}
header nav ul li a:hover
{color: darkgoldenrod; transition:all .2s ease-in-out;
}
#contenedorprincipal #hueco {
	float: left;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
/*MAIN*/
#contenedorprincipal main {
	width: 100%;
	height: 500px;
	float: left;
	display: grid;
	grid-template-columns: 45% 55%;
	grid-template-rows: 500px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main #txtprinh1  {
	grid-column: 1/2;
	grid-row: 1/2;
	text-align: left;
	background-color: #B98026;
	font-family: "Averia Sans Libre", "Averia Sans Libre Light";
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	display: block;
	height: 500px;
	font-size: 20pt;
	padding-left: 8%;
	padding-top: 14%;
	color: #FFFFFF;
	overflow: hidden;
	line-height: 45pt;
}
main #txtprinh1 h3 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	float: left;
	font-weight: 300;
	font-size: 18pt;
	padding-top: 30px;
	padding-right: 10%;
	line-height: 20pt;
}

#contenedorprincipal main #carrusel {
	grid-column: 2/4;
	grid-row: 1/2;
	height: 500px;
	background-image: url(../imagenes/asomain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 15% 0%;
}


/*SECTION*/
#contenedorprincipal section {
	width: 100%;
	height: 250px;
	float: left;
}
#contenedorprincipal section div {
	float: left;
	width: 100%;
	height: 100px;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: bold;
	font-size: 25pt;
	line-height: 100px;
	color: #224233;
}
section nav ul li {
	width: 25%;
	display: block;
	float: left;
	background-color: #224233;
	height: 150px;
}
nav ul #sec1:hover, #sec2:hover, #sec3:hover, #sec4:hover 
{-webkit-transform:scale(0.9);transform:scale(0.9); overflow:hidden; transition:all .2s ease-in-out;
}
nav ul #sec1 {
	background-image: url(../imagenes/andi.png);
	background-repeat: no-repeat;
	background-size: 40% auto;
	background-position: 50% 50%;
}
nav ul #sec2 {
	background-image: url(../imagenes/corpochivor.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 55% auto;
}
nav ul #sec3 {
	background-image: url(../imagenes/chinavita.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 55% auto;
}
nav ul #sec4 {
	background-image: url(../imagenes/boyaca.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 55% auto;
}
section nav ul li a {
	width: 100%;
	float: left;
	display: block;
	height: 150px;
}
/*FOOTER*/
footer  {
	float: left;
	width: 100%;
	height: 250px;
	display: grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: 125px 125px;
}
footer #redess {
	grid-row: 1/3;
	grid-column: 1/2;
	margin-top: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
footer #redess #intredes {
	width: 90%;
	height: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 50px;
	margin-left: 10%;
}

#redess #facebook {
	width: 100%;
	height: 50%;
	display: block;
	background-repeat: no-repeat;
	background-size: 55px auto;
}
#redess #facebook a {
	display: block;
	width: 100%;
	height: 100%;
}
#facebook a #imgfb {
	height: 100%;
	width: 30%;
	float: left;
	background-image: url(../imagenes/facebook.png);
	background-repeat: no-repeat;
	background-size: 50px auto;
	background-position: 50% 50%;
}
#facebook a #fbtxt {
	width: 70%;
	height: 100%;
	float: left;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-size: 15pt;
	line-height: 70px;
	text-align: left;
	font-weight: 600;
	color: #224233;
	overflow: hidden;
}
#redess #instagram  {
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
}
#redess #instagram a {
	display: block;
	width: 100%;
	height: 100%;
}
#instagram a #imgins {
	background-size: 50px auto;
	background-position: 50% 50%;
	width: 30%;
	height: 100%;
	background-image: url(../imagenes/instagram.png);
	background-repeat: no-repeat;
	float: left;
}
#instagram a #instxt {
	width: 70%;
	height: 100%;
	float: left;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-size: 15pt;
	line-height: 70px;
	font-weight: 600;
	color: #224233;
	overflow: hidden;
	text-align: left;
}
footer #info {
	grid-row: 1/3;
	grid-column: 2/3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 70px;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: 400;
	font-size: 12pt;
}
footer #mapa {
	width: 100%;
	height: 250px;
}
footer #mapa iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 80%;
	height: 200px;
	margin-top: 25px;
}




/*PÁGINA 2///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#contenedorprincipal2 {
	width: 100%;
	height: 1770px;
	background-color: #FFFFFF;
}
#contenedorprincipal2 header {
	float: left;
	width: 100%;
	height: 90px;
	-webkit-box-shadow: 0px -3px 18px 2px;
	box-shadow: 0px -3px 18px 2px;
	background-color: #FFFFFF;
}
#contenedorprincipal2 #logo{
	width: 55%;
	height: 90px;
	float: left;
	display: block;
}
#contenedorprincipal2 header #logo #imagenlogo {
	height: 90px;
	float: left;
	display: block;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../imagenes/logo.png);
	background-position: 15% 50%;
	margin-left: 9%;
	width: 220px;
	
	}
#contenedorprincipal2 #logo #imagenlogo a {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contenedorprincipal2 header nav {
	width: 45%;
	float: left;
	height: 90px;
}
#contenedorprincipal2 header nav ul li {
    list-style-type: none;
    display: block;
    width: 33.3333%;
    height: 90px;
    float: left;
}
#contenedorprincipal2 header nav ul li a {
	list-style-type: none;
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	float: left;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 15pt;
	font-weight: 500;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	overflow: hidden;
}
ul li #nav1 {
}
ul li #nav2 {
}
ul li #nav3 {
}
#contenedorprincipal2 #hueco {
	width: 100%;
	height: 30px;
	float: left;	
}
#misionvision {
	width: 100%;
	height: 800px;
	float: left;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px 400px;
}
#misionvision #mision {
	background-color: #EBEBEB;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 60px;
	color: #657A6C;
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 31px;
}
#misionvision #mision h1 {
	font-size: 30pt;
	font-family: "Averia Sans Libre", "Averia Sans Libre Light";
	font-weight: 900;
}
#misionvision #mision h3 {
	padding-top: 30px;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: 400;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}
#misionvision #misionimg  {
	width: 100%;
	background-image: url(../imagenes/marca1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#misionvision #visionimg {
	background-image: url(../imagenes/marca2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#misionvision #vision {
	background-color: #EBEBEB;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 80px;
	color: #657A6C;
}
#misionvision #vision h1 {
	font-size: 30pt;
	font-family: "Averia Sans Libre", "Averia Sans Libre Light";
	font-weight: 900;
}
#misionvision #vision h3 {
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: 400;
}


#quehacemos {
	width: 100%;
	height: 600px;
	float: left;
}
#quehacemos article {
	width: 100%;
	height: 150px;
	background-color: #224233;
	float: left;
	font-family: "Averia Sans Libre", "Averia Sans Libre Light";
	color: #FFFFFF;
	font-size: 30pt;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 45px;
}
#quehacemos #quehacemosimgs  {
	width: 100%;
	height: 450px;
	float: left;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 450px;
	cursor: pointer;
}
#quehacemosimgs #img1 {
	background-image: url(../imagenes/marca3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 15% 0%;	
}
#img1 #img1info{
	width: 100%;
	height: 100%;
	background-color: rgba(31,31,31,0.90);
	-webkit-transition: opacity 0.2s;
	-moz-webkit-transition: opacity 0.2s;
	opacity: 0;
}
#img1:hover #img1info{
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#img1 #img1info #tithov1 {
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-variant: normal;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 150px;
	font-size: 25pt;
	padding-left: 20px;
	padding-right: 20px;
	overflow-wrap: break-word;
	
}

#quehacemosimgs #img2 {
	background-image: url(../imagenes/marca5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#img2 #img2info{
	width: 100%;
	height: 100%;
	background-color: rgba(31,31,31,0.90);
	-webkit-transition: opacity 0.2s;
	-moz-webkit-transition: opacity 0.2s;
	opacity: 0;
}
#img2:hover #img2info{
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#img2 #img2info #tithov2 {
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-variant: normal;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 150px;
	font-size: 25pt;
	padding-left: 20px;
	padding-right: 20px;
	overflow-wrap: break-word;
}	
#quehacemosimgs #img3 {
	grid-column: 3/4;
	background-image: url(../imagenes/marca4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 0%;
	overflow: hidden;
}
#img3 #img3info{
	width: 100%;
	height: 100%;
	background-color: rgba(31,31,31,0.90);
	-webkit-transition: opacity 0.2s;
	-moz-webkit-transition: opacity 0.2s;
	opacity: 0;
}
#img3:hover #img3info{
	opacity: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#img3 #img3info #tithov3 {
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-variant: normal;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 150px;
	font-size: 25pt;
	padding-left: 20px;
	padding-right: 20px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#contenedorprincipal2 #footer2 {
	float: left;
	width: 100%;
	height: 250px;
}
#footer2 #info {
	grid-row: 1/3;
	grid-column: 2/3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 70px;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: 400;
	font-size: 12pt;
	color: #224233;
}
/*PÁGINA 3///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#contenedorprincipal3 {
	width: 100%;
	height: 2040px;
	background-color: #FFFFFF;
}
#contenedorprincipal3 header {
	float: left;
	width: 100%;
	height: 90px;
	-webkit-box-shadow: 0px -3px 18px 2px;
	box-shadow: 0px -3px 18px 2px;
	background-color: #027d91;
}
#contenedorprincipal3 #logo{
	width: 55%;
	height: 90px;
	float: left;
	display: block;
}
#contenedorprincipal3 #logo div a{
	width: 55%;
	height: 90px;
	float: left;
	display: block;
	background-size: 170px auto;
	background-repeat: no-repeat;
	background-position: 30% 50%;
	background-image: url(../imagenes/ganachilogo2.png);
}
#contenedorprincipal3 header #logo #imagenlogo {
	height: 90px;
	float: left;
	min-width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contenedorprincipal3 header nav {
	width: 45%;
	float: left;
	height: 90px;
}
#contenedorprincipal3 header nav ul li {
    list-style-type: none;
    display: block;
    width: 33.3333%;
    height: 90px;
    float: left;
}
#contenedorprincipal3 header nav ul li a {
	list-style-type: none;
	display: block;
	width: 100%;
	height: 90px;
	line-height: 90px;
	float: left;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 15pt;
	font-weight: 500;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	color: #FFFFFF;
}
#contenedorprincipal3 header nav ul li a:hover
{color: darkgoldenrod; transition:all .2s ease-in-out;
}
#contenedorprincipal3 #hueco {
	float: left;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
#contenedorprincipal3 #productos h3 {
}
#img3portada {
	float: left;
	width: 100%;
	height: 600px;
	background-image: url(../imagenes/ganachi2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 45%;
}
#contenedorprincipal3 #productos {
	float: left;
	width: 100%;
	height: 1170px;
}
#contenedorprincipal3 #productos h1 {
	width: 100%;
	height: 200px;
	float: left;
	background-color: #FFFFFF;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	color: #027D91;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 40pt;
	overflow: hidden;
	padding-top: 50px;
}
#contenedorprincipal3 #productos h3 {
	width: 100%;
	height: 150px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-family: Rubik, "Rubik Black", "Rubik ExtraBold", "Rubik Light", "Rubik Medium", "Rubik SemiBold";
	font-weight: 400;
	font-size: 14pt;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
}


#productos #imgganachi  {
	float: left;
	width: 100%;
	height: 820px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px 400px;
	grid-gap: 20px;
	background-color: #516647;
	overflow: hidden;
	cursor: pointer;
}
#img1g {
	background-image: url(../imagenes/ganachi7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 70%;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
	}
#img1g:hover, #img2g:hover, #img3g:hover, #img4g:hover 
{filter: sepia(90%); transition:all .2s ease-in-out;
}
#img2g {
	background-image: url(../imagenes/ganachi5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}
#img3g {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../imagenes/ganachi6.jpg);
	float: left;
}
#img4g {
	background-image: url(../imagenes/ganachi3.jpg);
	background-size: cover;
	float: left;
}
#contenedorprincipal3 #footer3 {
	color: #027D91;
}
#footer3 #redess #intredes #facebook #fbtxt {
	color: #027D91;
}
#footer3 #redess #intredes #facebook #imgfb {
	color: #027D91;
	background-image: url(../imagenes/facebookazul.png);
}
#footer3 #redess #intredes #instagram #imgins {
	color: #027D91;
	background-image: url(../imagenes/instagramazul.png);
}
#footer3 #redess #intredes #instagram #instxt {
	color: #027D91;
}
